*{
    margin:0;
    padding:0;
    
}
$color:#53C5E6;
.am-list-item .am-input-label.am-input-label-5{
    width:30px !important
}
// 获取验证码
.getcode{
    position: absolute;
    bottom:38px;
    left:65%;
}
// 注册 圆角
.btn{
    border-radius:25px !important
}
// 协议 span 颜色
.colorlv{
    color:#21C67E
}
.colorCCC{
    color:#aaa;
}
// checkbox 样式

.agree {
    margin-top:-10px;
    margin-bottom:10px;
    line-height: pxTorem(60px);
    margin: pxTorem(50px) 0;
    position: relative;
    span {
        display:inline-block;
      position: absolute;
      left: pxTorem(50px);
      top:pxTorem(15px);
    }
  }
  input[type="checkbox"]{ -webkit-appearance: none;width:15px;height:15px; border-radius: 50%; display: inline-block;text-align: center;vertical-align: middle; line-height: 15px;position: relative;margin:0px 5px 5px 20px;}
  input[type="checkbox"]::before{content: "";position: absolute;border-radius: 50%;top: 0;left: 0;background: #fff;width: 100%;height: 100%;border: 1px solid #d9d9d9}
  input[type="checkbox"]:checked::before{content: "\2713";border-radius: 50%; background-color: #53C5E6;position: absolute;top: 0;left: 0;width:100%;color: white;font-size: 16px;}

  #Reg-box{
      a:link,a:visited{
          color:$color
      }
  }